<% status_filter = local_assigns[:status_filter] %>
<div>
  <%= form_with(method: 'get', local: true, id: 'filter-form') do %>
    <div class="inline-block relative w-64">
      <% select_class = 'block appearance-none w-full bg-white hover:border-gray-500 px-4 py-1 pr-8 rounded shadow leading-tight' %>
      <%= select_tag(:status,
        stays_status_filter_opts(status_filter),
        id: 'filter-form-status',
        class: select_class)
      %>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>
    <%= submit_tag("Filter patients", name: nil) %>
  <% end %>
</div>
